:root {
  --font_stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-inner {
  padding: 40px 20px 80px;
  background-color: #fff;
  color: #475569;
  font: 300 17px/1.4 var(--font_stack);
}

@media screen and (min-width: 992px) {
  .main-inner {
    min-height: 100vh;
    padding-top: 55px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-inner__wrapper {
  max-width: 610px;
  margin: 0 auto;
}

.main-inner h1 {
  transform: skew(-10deg);
  margin-bottom: 2rem;
  font: 36px/1 'Teko', sans-serif;
  color: #EA580C;
}

@media (min-width: 1125px), (min-width: 700px) and (max-width: 991px) {
  .main-inner h1 {
    transform: skew(-10deg) translateX(-25px);
  }
}

.main-inner h2 {
  margin-bottom: 0.3718rem;
  font-family: 'Teko', sans-serif;
  font-size: 28px;
  color: #334155;
}

.main-inner h3, .main-inner h4, .main-inner h5 {
  font-weight: 600;
}

.main-inner h3 {
  font-size: 1.5rem;
}

.main-inner h4 {
  font-size: 1.3rem;
}

.main-inner h5 {
  font-size: 1.1;
}

.main-inner h6 {
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.main-inner p + p {
  margin-top: 1rem;
}

.main-inner p + h2, .main-inner ul + h2 {
  margin-top: 2rem;
}

.main-inner figcaption {
  margin: 6px 0 2rem;
  text-align: right;
  font-size: 0.8rem;
}

.main-inner a {
  text-decoration: underline;
}

.main-inner a:hover {
  text-decoration: none;
}

.main-inner strong, .main-inner dt {
  font-weight: 600;
}

.main-inner em {
  font-style: italic;
}

