
{% set curURL %}{{ page.fileSlug }}{% endset %}


<a class="nav-brand" href="/">
  {{ site_meta.title }}
  {% if current %}
    <span class="sr-only">
       (current)
    </span>
  {% endif %}
</a>

<nav class="main-nav">
  <a href="/" class="main-nav-link{{ ' active' if curURL === 'about'}}">
    About
  </a>
  <a href="/route/" class="main-nav-link{{ ' active' if curURL === 'route'}}">
    Route
  </a>
  <a href="/results" class="main-nav-link{{ ' active' if curURL === 'results'}}">
    Results
  </a>
</nav>

