---
title: Contact
layout: base2
permalink: /contact/
---

  <div class="main-inner">
        <form name="contact" method="POST" data-netlify-recaptcha="true" data-netlify="true" action="/thank-you">
          <label for="name">
            Name
          </label>
          <input id="name" type="text" name="name" class="form-control" required>
          <label for="email" class="mt-3">
            Email Address
          </label>
          <input id="email" type="email" name="email-address" class="form-control" required>
          <label for="message" class="mt-3" required>
            Your message
          </label>
          <textarea id="message" name="message" class="form-control mb-3" rows="10" required></textarea>
          <div data-netlify-recaptcha="true" class="mt-3"></div>
          <div class="mt-3">
            <button type="submit" class="btn btn-primary">
              Send
            </button>
          </div>
        </form>
  </div>

