{% extends 'layouts/base.njk' %}

{% block content %}
  <figure>
    <img src="https://res.cloudinary.com/mount-adams-challenge/f_auto,c_limit,h_627/home-hero.jpg" loading="lazy" alt="Two trail runners heading into the Northern Presidential Range under a firey sunrise" width="2000" height="1123">
    <figcaption>
      <a href="https://klementovichphoto.com">
        klementovichphoto.com
      </a>
    </figcaption>
  </figure>

  <div class="main-inner__wrapper">
    {{ content | safe }}
  </div>
{% endblock %}