{% extends 'layouts/base.njk' %}

{% block content %}
  <figure>
    <img src="https://res.cloudinary.com/mount-adams-challenge/f_auto,c_limit,h_627/route-hero.jpg" alt="Trail running crossing Cold Brook in the Northern Presidental Range" width="2000" height="1000">
    <figcaption>
      <a href="https://klementovichphoto.com">
        klementovichphoto.com
      </a>
    </figcaption>
  </figure>

  <div class="main-inner__wrapper">
    {{ content | safe }}

    <ol>
      {% for segment in segments %}
        <li>
          <h2>{{ segment.name }}</h2>
          {{ segment.body | renderUsingMarkdown | safe }}
          <ul>
            {% for stat in segment.stats %}
              <li>
                {{ stat }}
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ol>

    <figure class="embed-responsive">
      <iframe src='https://www.gaiagps.com/public/GZ18PETwFaQQL5atRs0dbFnI?embed=True' loading="lazy" class="embed-responsive-item"></iframe>
    </figure>
  </div>
  
{% endblock %}