{% extends 'layouts/base.njk' %}

{% block content %}
  <figure>
    <img src="/assets/images/thank-you.jpg" loading="lazy" alt="Trail runner passing in front of a snowy Mount Adams" width="1200" height="546">
    <figcaption>
      <a href="https://klementovichphoto.com">
        klementovichphoto.com
      </a>
    </figcaption>
  </figure>
  <div class="main-inner__wrapper">
    {{ content | safe }}
  </div>
{% endblock %}
