<!doctype html>
<html lang="en">
  <head>
    <link rel="prefetch" as="font" href="/assets/fonts/teko-v10-latin-regular.woff2" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>
      {{ site_meta.title if title == 'About' else title + ' | ' + site_meta.title }}
    </title>
    <meta name="description" content="{{ site_meta.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/og.njk" %}
    {% include "partials/icons.njk" %}
    {% set css %}
      {% include "css/font.css" %}
      {% include "css/_preflight.css" %}
      {% include "css/styles.css" %}
      {% if page.fileSlug == 'route' %}
        {% include "css/route.css" %}
      {% elif page.fileSlug == 'results' %}
        {% include "css/results.css" %}
      {% elif page.fileSlug == 'reports-paginated' %}
        {% include "css/reports.css" %}
      {% elif page.fileSlug == 'contact' %}
        {% include "css/contact.css" %}
      {% elif page.fileSlug == 'thank-you' %}
        {% include "css/thank-you.css" %}
      {% endif %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body class="{{ title | slugify }}">

    <header id="site-header" role="banner">
      {% include "partials/header.njk" %}
    </header>

    <main id="site-main" role="main">
      <div class="main-inner">
        {% block content %}
        {% endblock content %}
      </div>
    </main>

    <footer id="site-footer" role="contentinfo">
      {% include "partials/footer.njk" %}
    </footer>

  </body>
</html>
