{% set currentUrl %}{{ page.fileSlug }}{% endset %}

<nav class="navbar navbar-expand-md navbar-dark navbar-mac">
  <a class="navbar-brand" href="/">
    {{ site.title }}<span class="sr-only"> {% if currentUrl === page.fileSlug %} (current){% endif %}</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      {% for page in collections.orderedPages %}
      <li class="nav-item">
        <a href="{{ page.url }}"{% if currentUrl === page.fileSlug %} aria-current="page"{% endif %} class="nav-link">
          {{ page.data.title }}
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
