---
title: Reports
layout: base
permalink: "/results/reports/index.html"
---

<div class="container">

  <dl>
    {% for year, yearResults in collections.results | groupby('data.year') | dictsort | reverse %}
      <dt>
        {{ year }}
      </dt>

      {% for report in yearResults | reverse %}
        <dd>
          <a href="/results/reports/{{ report.data.run_date | slug }}-{{ report.data.name | lower | slug }}/">
            {{ report.data.name }} • {{ report.date | postDate }}
          </a>
        </dd>
      {% endfor %}

    {% endfor %}
  </dl>

</div>
