---
pagination:
  data: collections.results
  size: 1
  alias: report
  reverse: true
permalink: "/results/reports/{{ report.date | htmlDateString | slug }}-{{ report.data.name | slug }}/index.html"
eleventyComputed:
  title: "{{ report.data.name }}'s {{ report.date | postDate }} Report"
layout: base
---

<div class="container">
  <h1>
    {{ report.data.name }}'s Mount Adams Challenge Report
  </h1>
  <time>{{ report.data.date | postDate }}</time>
  <p>Result: {{ report.data.run_duration }}</p>
  {% if report.data.other_runners.length %}
    <ul>
      {% set main_run_date = report.date %}
      {% for runner in report.data.other_runners %}
        <li>
          <a href="/results/reports/{{ main_run_date | htmlDateString | slug }}-{{ runner | slug }}/">
            {{ runner }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <article>
    {{ report.templateContent | safe }}
  </article>

  <nav aria-labelledby="my-pagination">
    <h2 id="my-pagination" class="sr-only">This is my Pagination</h2>
    <ul class="list-unstyled row justify-content-center">
      {% if pagination.href.previous %}
        <li class="col-auto">
            <a href="{{ pagination.href.previous }}">Previous</a>
        </li>
      {% endif %}
        <li class="col-auto">
          <a href="/results/reports/">Reports Home</a>
        </li>
      {% if pagination.href.next %}
        <li class="col-auto">
          <a href="{{ pagination.href.next }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
