---
title: Route
layout: base
permalink: /route/
---

<section id="route" class="section">
  <div class="container">

      <header class="section__lede text-left">
        {{ route_page.body | safe }}
      </header>


      <div class="embed-responsive embed-responsive-16by9 route-map">
        <iframe src='https://caltopo.com/m/VMN0' scrolling='no' seamless='seamless'></iframe>
      </div>

      <ol class="route-segments">
        {% for segment in segments.segment_item %}
          <li class="route-segment">
            <header class="route-segment-header">
              {{ loop.index }}. {{ segment.name }}
            </header>
            <table class="route-segment-stats">
              <tr>
                <td class="route-segment-stat route-segment-stat-distance">
                  <img src="/images/route-segment-distance.png" width="50" alt="Route segment distance icon">
                  <span class="route-segment-stat-gain-figure">
                    {{ segment.stats[0] }}
                  </span>
                  <span class="route-segment-stat-gain-unit">
                    miles
                  </span>
                </td>
                <td class="route-segment-stat route-segment-stat-grade">
                  <img src="/images/route-segment-grade.png" width="50" alt="Route segment grade icon">
                  <span class="route-segment-stat-gain-figure">
                    {{ segment.stats[1] }}%
                  </span>
                  <span class="route-segment-stat-gain-unit">
                    grade
                  </span>
                </td>
                <td class="route-segment-stat route-segment-stat-gain">
                  <img src="/images/route-segment-gain{{ '-minus' if segment.stats[3] === 'false' }}.png" width="50" alt="Route Segment positive gain icon">
                  <span class="route-segment-stat-gain-figure">
                    {{ segment.stats[2] }}
                  </span>
                  <span class="route-segment-stat-gain-unit">
                    feet
                  </span>
                </td>
              </tr>
            </table>
            <article class="route-segment-description">
              {{ segment.body }}
            </article>
          </li>
        {% endfor %}
      </ol>

  </div>
</section>
